@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
}
.list-md-text ul {
  list-style-type: disc;
  margin-left: 1.1rem;
  margin-top: 0.5rem;
}

#header-md-text h1{
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
}
#header-md-text h2{
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 2rem;
}